
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/product-details"></ion-back-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="reviews-section" class="reviews-section">
    <!-- Review 1 -->
  <div class="review-item">
    <p class="reviewer-name maven-pro-font">John Doe</p>
  <!-- Rating stars and review text with anchor link -->
<div class="rating-container">
  <ion-icon name="star" class="star"></ion-icon>
  <ion-icon name="star" class="star"></ion-icon>
  <ion-icon name="star" class="star"></ion-icon>
  <ion-icon name="star" class="star"></ion-icon>
  <ion-icon name="star-half" class="star"></ion-icon>
 
</div>

    <p class="review-text">
      This product is amazing! It really made a difference in my skincare routine.
    </p>
  </div>

  <!-- Review 2 -->
  <div class="review-item">
    <p class="reviewer-name maven-pro-font">Jane Smith</p>
    <div class="rating-container">
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
 
    </div>
    <p class="review-text">
      I love the glow these drops give me! Definitely a must-have in my beauty routine.
    </p>
  </div>

  <!-- Review 3 -->
  <div class="review-item">
    <p class="reviewer-name maven-pro-font">Ella Smith</p>
    <div class="rating-container">
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
 
    </div>
    <p class="review-text">
      I love the glow these drops give me! Definitely a must-have in my beauty routine.
    </p>
  </div>
</div>

<!-- Review 4 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Jane Ronad</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>

  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>

<!-- Review 5 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Max Smith</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>

<!-- Review 6 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Jack Smith</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>

<!-- Review 7 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Maya Smith</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>

<!-- Review 8 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Matt Smith</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>

<!-- Review 9 -->
<div class="review-item">
  <p class="reviewer-name maven-pro-font">Mariah Smith</p>
  <div class="rating-container">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
  </div>
  <p class="review-text">
    I love the glow these drops give me! Definitely a must-have in my beauty routine.
  </p>
</div>
</ion-content>
