
.maven-pro-title {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px; /* Adjust the size as needed */
  }
  
  .robot-mono-text {
    font-family: 'Robot Mono', monospace;
    font-size: 12px; /* Adjust the size as needed */
  }
  

.robot-mono-text {
  font-family: 'Robot Mono', monospace;
  font-size: 12px; /* Adjust the size as needed */
}
