.typology-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 200px;
    font-family: 'Maven Pro', sans-serif;
  }
  
  .typology-header h1 {
    font-size: 3em; 
    margin-bottom: 50px; 
  }
  
  .register-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  ion-item {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-label {
    color: #333;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  .login-link {
    text-align: center; 
    margin-top: 20px; 
  }
  
  .login-link a {
    color: #007bff; 
  }