.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .typology-text {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
  }
  
