<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/face-care"></ion-back-button>
    </ion-buttons>

    <ion-title class="maven-pro-title">FACE-SERUM</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- Product Grid -->
  <ion-row>
    <ion-col size="6" *ngFor="let product of faceSerumProducts">
      <!-- Heart Icon -->
      <ion-icon
        name="heart"
        [style.color]="product.isFavorite ? 'red' : 'black'"
        (click)="toggleFavorite(product)"
        style="position: absolute; top: 10px; right: 10px; font-size: 20px;"
      ></ion-icon>

      <ion-img [src]="product.image" class="product-image"></ion-img>
      <ion-card-header>
        <ion-card-title class="maven-pro-font">{{ product.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="roboto-mono-font">
        <p>{{ product.description }}</p>
        <p class="price">{{ product.price }}</p>
      </ion-card-content>
    </ion-col>
  </ion-row>

  <!-- Bottom Icons -->
  <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff; padding: 5px; display: flex; justify-content: space-around; border-top-left-radius: 30px; border-top-right-radius: 30px; border-top: 1px solid #ddd;">

    <!-- Home -->
    <ion-button fill="clear" (click)="goToSecondPage()">
      <ion-label style="font-family: 'Maven Pro', sans-serif; font-weight: bold; font-size: 25px; color: dark;">T.</ion-label>
    </ion-button>

    <!--  Search -->
    <ion-button fill="clear">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-button>

    <!-- Favorites -->
    <ion-button fill="clear" (click)="goToFavouritesPage()">
      <ion-icon name="heart-outline" color="dark"></ion-icon>
    </ion-button>
    

    <!-- Profile -->
    <ion-button fill="clear">
      <ion-icon name="person-outline" color="dark"></ion-icon>
    </ion-button>

  </div>
</ion-content>
