ion-content {
    position: relative; 
  }
  
  .fixed-icon-tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff; 
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); 
  }
  
  ion-tab-button {
    --color-selected: #3880ff; 
    --color: #333; 
  }
  