<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=""></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search Bar -->
  <ion-searchbar placeholder="Search..." color="medium" mode="ios" animated [(ngModel)]="searchTerm" (ionInput)="onSearch()"></ion-searchbar>

  <!-- Search Suggestions -->
  <ion-list *ngIf="showSuggestions">
    <ion-item *ngFor="let suggestion of searchSuggestions" (click)="selectSuggestion(suggestion)">
      {{ suggestion }}
    </ion-item>
  </ion-list>

  <!-- Pink Box with Text -->
  <div class="pink-box" (click)="goToNewInPage()">
    <span class="pink-box-text">New In</span>
  </div>

  <!-- Image -->
  <ion-img src="https://i.pinimg.com/564x/83/b8/30/83b8309aa916548512fabb47424dfabf.jpg" alt="Your Second Image Alt Text"></ion-img>

  <!-- Icons -->
  <div class="icon-container">
    <!-- Home -->
    <ion-button fill="clear" (click)="goToHomePage()">
      <ion-label class="icon-label">T.</ion-label>
    </ion-button>

    <!-- Search -->
    <ion-button fill="clear" (click)="goToSearchPage()">
      <ion-icon name="search-outline" class="icon" color="dark"></ion-icon>
    </ion-button>

    <!-- Favorites -->
    <ion-button fill="clear" (click)="goToFavouritesPage()">
      <ion-icon name="heart-outline" class="icon" color="dark"></ion-icon>
    </ion-button>

    <!--Profile -->
    <ion-button fill="clear">
      <ion-icon name="person-outline" class="icon" color="dark"></ion-icon>
    </ion-button>
  </div>

</ion-content>
