<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size=""></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search Bar -->
  <ion-searchbar placeholder="Search..." color="medium" mode="ios" animated [(ngModel)]="searchTerm" (ionInput)="onSearch()"></ion-searchbar>

  <!-- Search Suggestions -->
  <ion-list *ngIf="showSuggestions">
    <ion-item *ngFor="let suggestion of searchSuggestions" (click)="selectSuggestion(suggestion)">
      {{ suggestion }}
    </ion-item>
  </ion-list>

  <!-- Pink Box with Text -->
  <div class="pink-box" (click)="goToNewInPage()">
    <span class="pink-box-text">New In</span>
  </div>



  <ion-content class="ion-padding">
    <div style="position: relative; text-align: left; color: black;">
      <img
      alt="Explore Routines"
      src="https://i.pinimg.com/564x/83/b8/30/83b8309aa916548512fabb47424dfabf.jpg"
      style="width: 100%; height: 400px;"
      (click)="navigateToexploreroutines()"
    />
    
  
      <!-- text in white box-->
      <div style="position: absolute; top: 10%; left: 38%; transform: translate(-20%, -20%); text-align: center;">
  
        <div style="display: inline-block; background-color: white; border-radius: 60px; padding: 8px;">
  
          <h1 class="maven-pro-title" style="font-size: 12px; color: black; margin: 0;"> EXPLORE ROUTINES </h1>
  
        </div>
      </div>
    </div>
  

  <!-- Icons -->
  <div class="icon-container">
    <!-- Home -->
    <ion-button fill="clear" (click)="goToHomePage()">
      <ion-label class="icon-label">T.</ion-label>
    </ion-button>

    <!-- Search -->
    <ion-button fill="clear" (click)="goToSearchPage()">
      <ion-icon name="search-outline" class="icon" color="dark"></ion-icon>
    </ion-button>

    <!-- Favorites -->
    <ion-button fill="clear" (click)="goToFavouritesPage()">
      <ion-icon name="heart-outline" class="icon" color="dark"></ion-icon>
    </ion-button>

    <!--Profile -->
    <ion-button fill="clear">
      <ion-icon name="person-outline" class="icon" color="dark"></ion-icon>
    </ion-button>
  </div>

</ion-content>
